@page "{id:int}"
@model FoetexTrygLevering.Pages.Users.Customer.DeleteCustomerModel
@{
}
<h1>Delete Account</h1>
<div class="alert alert-danger">
    <h5>@Model.Customer.Name, are you sure you want to delete your account?</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="Homepage">No</a>
    </form>
</div>