@page "{id:int}"
@model FoetexTrygLevering.Pages.Users.Customer.EditCustomerModel
@{
    Layout = "Shared/_CustomerLayout";
}
<form method="post">
    <div class="form-group">
        <label asp-for="Customer.Name"></label>
        <input asp-for="Customer.Name" class="form-control"></>
        <span asp-validation-for="Customer.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Email"></label>
        <input id="Email" type="email" asp-for="Customer.Email" class="form-control"></>
        <span asp-validation-for="Customer.Email" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Customer.Phone"></label>
        <input asp-for="Customer.Phone" class="form-control"></>
        <span asp-validation-for="Customer.Phone" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Customer.Age"></label>
        <input asp-for="Customer.Age" class="form-control"></>
        <span asp-validation-for="Customer.Age" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Customer.CityName"></label>
        <input asp-for="Customer.CityName" class="form-control"></>
        <span asp-validation-for="Customer.CityName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Street"></label>
        <input asp-for="Customer.Street" class="form-control"></>
        <span asp-validation-for="Customer.Street" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Customer.PostalCode"></label>
        <input asp-for="Customer.PostalCode" class="form-control"></>
        <span asp-validation-for="Customer.PostalCode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Opdater oplysninger" class="btn btn-primary" />
    </div>
</form>
@if (Model.Customer.UserID != 1)
{
    <a class="btn btn-danger" type="button" title="Slet konto" asp-page="DeleteCustomer" asp-route-id="@Model.Customer.UserID">Slet konto</a>
}

<div>
    <a asp-page="Users/Customer/Homepage">Tilbage til forsiden</a>
</div>