@page
@model FoetexTrygLevering.Pages.Users.Customer.HomepageModel
@{
    Layout = "Shared/_CustomerLayout";
}
<body class="w3-content">
<nav class="w3-sidenav w3-collapse w3-top">
    <div>
        <h3 class="w3-wide"><b>Føtex TrygLevering</b></h3>
    </div>
</nav>
</body>
