    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoetexTrygLevering</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/w3.css" />
    <link rel="stylesheet" href="~/css/FoetexCustomStyles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                
                <a class="navbar-brand" asp-area="" asp-page="Homepage">FoetexTrygLevering</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <form method="post" asp-page="Homepage" class="mt-2">
                                <select id="MenuChoice" name="MenuChoice" class="dropdown" style="width: 125px">
                                    <option value="1" class="text-center">All Items</option>
                                    <option value="2" class="text-center">Food</option>
                                    <option value="3" class="text-center">Drinks</option>
                                    <option value="4" class="text-center">Other</option>
                                </select>
                                <br/>
                                <a asp-page="Homepage">
                                    <input type="submit" class="Mybtn btn-dark mt-1"value="Sort Items" style="width: 125px"/>
                                </a>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a style="width:auto" class="btn btn-success" type="button" title="Edit customer" asp-page="EditCustomer" asp-route-id="@Model.Customer.UserID">Edit Profile</a>
                        </li>
                        <li></li>
                        <li class="nav-item">
                            <a style="width:auto" class="btn btn-success" asp-page="ShoppingCart">View Shopping-cart</a>
                        </li>
                        <li class="nav-item">
                            <a style="width:auto" class="btn btn-success" href="https://www.foetex.dk/c/tilbudsavis/">Sales</a>
                        </li>
                    </ul>
                </div>
                <div class="mr-2">
                    <partial name="_LoginStatusPartial"/>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
