@if (User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav flex-grow-1 list-inline">
        <li style="padding-top: 20px">
            Welcome @User.Identity.Name
        </li>
        <li class="nav-item">
            <form method="post" asp-page="/LogOut">
                <button type="submit" class="ml-2 btn btn-link">Logout</button>
            </form>
        </li>
    </ul>
}
else
{
    <a class="btn btn-link" asp-page="Index">Login</a>
}