@page
@using FoetexTrygLevering.Models.Users
@model FoetexTrygLevering.Pages.Users.DeliveryDriver.CreateDeliveryDriverModel
@{
}
<form method="post">
    <div class="form-group">
        <label asp-for="Driver.Name"></label>
        <input asp-for="Driver.Name" class="form-control"></>
        <span asp-validation-for="Driver.Name" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Driver.Email"></label>
        <input id="Email" type="email" asp-for="Driver.Email" class="form-control"></>
        <span asp-validation-for="Driver.Email" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Driver.Phone"></label>
        <input asp-for="Driver.Phone" class="form-control"></>
        <span asp-validation-for="Driver.Phone" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Driver.AccNumber"></label>
        <input asp-for="Driver.AccNumber" class="form-control"></>
        <span asp-validation-for="Driver.AccNumber" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Driver.PostalCode"></label>
        <input asp-for="Driver.PostalCode" class="form-control"></>
        <span asp-validation-for="Driver.PostalCode" class="text-danger"></span>

    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>