@page
@using FoetexTrygLevering.Models.Users
@model FoetexTrygLevering.Pages.Users.DeliveryDriver.CreateDeliveryDriverModel
@{
}
<form method="post">
    <div class="form-group">
        <label asp-for="DeliveryDriver.Name"></label>
        <input asp-for="DeliveryDriver.Name" class="form-control" name="Fornavn og efternavn"></>
    </div>
    <div class="form-group">
        <label asp-for="DeliveryDriver.Email"></label>
        <input id="Email"type="email" asp-for="DeliveryDriver.Email" class="form-control" name="E-mail"></>
    </div>
    <div class="form-group">
        <label asp-for="DeliveryDriver.Phone"></label>
        <input asp-for="DeliveryDriver.Phone" class="form-control" name="Telefon nummer"></>
    </div>
    <div class="form-group">
        <label asp-for="DeliveryDriver.AccNumber"></label>
        <input asp-for="DeliveryDriver.AccNumber" class="form-control" name="Kontonummer"></>
    </div>
    <div class="form-group">
        <label asp-for="DeliveryDriver.PostalCode"></label>
        <input asp-for="DeliveryDriver.PostalCode" class="form-control" name="Postnummer"></>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>