@page "{id:int}"
@model FoetexTrygLevering.Pages.Users.DeliveryDriver.DeleteDeliveryDriver
@{
    Layout = "Shared/_DeliveryLayout";
}
<h1>Slet konto</h1>
<div class="alert alert-danger">
    <h5>@Model.Driver.Name, er du sikker på at du vil slette din konto?</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Ja</button>
        <a class="btn btn-primary" asp-page="Homepage">Nej</a>
    </form>
</div>