@page
@model FoetexTrygLevering.Pages.Users.Admin.CreateBeverageModel
@{
    Layout = "Shared/_AdminLayout";
}
<form method="post">
    <div class="form-group">
        <label asp-for="Beverage.Name"></label>
        <input asp-for="Beverage.Name" class="form-control"/>
        <span asp-validation-for="Beverage.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Beverage.Price"></label>
        <input asp-for="Beverage.Price" class="form-control"/>
        <span asp-validation-for="Beverage.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Beverage.Description"></label>
        <input asp-for="Beverage.Description" class="form-control"/>
        <span asp-validation-for="Beverage.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Beverage.AgeRestriction"></label>
        <input asp-for="Beverage.AgeRestriction" class="form-control" />
        <span asp-validation-for="Beverage.AgeRestriction" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>